// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  border: 1px solid #E0E0E0;
  //border-collapse:collapse;
}


table th {
  background-color:#EAEAEA;
}

table td {
  background-color:#fAfAfA;
}

body {
  background-color: #cacaca
}

ul{
  background-color:#fAfAfA;
  width: 45%
}

.asdf {
  background-color: #ff0000
}

.infobox {
  background-color:#fAfAfA;
  width: 50%
}

